In [1]:
import pandas as pd
import numpy as np

In [2]:
info = pd.read_csv('data/building_info.csv')

In [3]:
info.head()

   건물번호  건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0     1  건물기타  110634.00   39570.00         -            -         -
1     2  건물기타  122233.47   99000.00         -            -         -
2     3  건물기타  171243.00  113950.00        40            -         -
3     4  건물기타   74312.98   34419.62        60            -         -
4     5  건물기타  205884.00  150000.00         -         2557      1000

In [4]:
info['태양광용량(kW)'].replace('-', 0, inplace=True)  # 태양광용량의 누락된 값을 0으로 채움
info['ESS저장용량(kWh)'].replace('-', 0, inplace=True)  # ESS저장용량의 누락된 값을 0으로 채움
info['PCS용량(kW)'].replace('-', 0, inplace=True)  # PCS용량의 누락된 값을 0으로 채움

In [6]:
info.head()

   건물번호  건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0     1  건물기타  110634.00   39570.00         0            0         0
1     2  건물기타  122233.47   99000.00         0            0         0
2     3  건물기타  171243.00  113950.00        40            0         0
3     4  건물기타   74312.98   34419.62        60            0         0
4     5  건물기타  205884.00  150000.00         0         2557      1000

In [7]:
info.to_csv('data/new_building_info.csv', index=False)